*{
    padding: 0;
    border: 0;
    margin: 0;
}

ul {
    
    list-style-type: none;
    overflow: hidden;
    background-color: #212121;
  }
  
li {
    float: right;
    
}


  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font: helvetica;
}
  
li a:hover {
    background-color: #ff7705;
    cursor: pointer;
}

header{
    height: 40px;
    font: helvetica;
    background-color: #212121;
    padding-left: 100px;
    padding-right: 100px;
    
   
}

img {
    position: absolute;
    left: 100px;
    top: 0px;
    z-index: 1;
    width: 80px;
    height: 40px;
    /* padding-left: 20px; */
}

img:hover{
    background-color: #ff7705;
    cursor: pointer;
}

main{
    border: 1px solid #212121;
    height: 600px;
    width: auto;
    
}

article{
    height: 200px;
    width: 600px;
    border: 1px solid #212121;
    padding: 30px;
    font: helvetica;
    
}

input[type="email"]{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type="submit"]{
    cursor: pointer;
}

div{
    font-size: 10px;
    
}

#borda{
    
    border-radius: 25px;
    background-color: #f4b84d;
    
   
}

/* #sobre{
    padding-right: 40px;
} */

footer{
    background-color: #212121;
    color: white;
    height: 80px;
    bottom: auto;
    font: helvetica;

}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: line;
}

